@import url('https://fonts.googleapis.com/css?family=Open+Sans|Yesteryear&display=swap');

@media only screen and (max-width: 800px){
	/* Do 800 */
	header{
		width: 100%;
	}

	h1 + p{
		padding: 0 3em 3em 3em;
	}

	#main-container{
		width: 100%;
	}
}

@media (max-width: 1200px) and (min-width: 800px){
	/* Od 800 do 1200 */
	header{
		width: 70%;
	}

	body{
		margin: 5em 0 5em 0;
	}

	h1 + p{
		padding: 0 4em 3em 4em;
	}

	#main-container{
		width: 70%;
	}
}

@media (min-width: 1200px){
	/* Od 1200 */
	h1 + p{
		padding: 0 7em 3em 7em;
	}

	header{
		width: 50%;
	}

	body{
		margin: 5em 0 5em 0;
	}

	#main-container{
		width: 50%;
	}
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

form ::selection{
	background-color: rgb(145,99,172);
	color: white;
}

body{
	font-size: 16px;
	background-color: #363d4a;
	width: 100%;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

header{
	margin: 0 auto;
	background: rgb(145,99,172);
	background: linear-gradient(90deg, rgba(145,99,172,1) 0%, rgba(75,75,149,1) 100%);
	text-align: center;
}

h1{
	padding-top: 1.4em;
	padding-bottom: .3em;
	color: white;
	font-family: Yesteryear, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 3em;
	text-shadow: 0 0.083em 0.083em rgba(62, 62, 107, 0.6);

}

h1 + p{
	color: #c7bddb;
	font-size: 1em;
	line-height: 150%;
}

#main-container{
	margin: 0 auto;
	background-color: #E9EAFB;
}

form{
	color: #676278;
	margin: 0 auto;
	padding: 0 5%;
}

form div{
	padding-top: 2em;
}

label, input{
	display: block;
}

label{
	padding-bottom: .5em;
	color: #676278;
}

input[type="text"], [type="number"], [type="email"], select{
	width: 100%;
	height: 3em;
	border: 1px solid #d6dce0;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 1.125em;
	text-indent: 0.889em;
	color: #817b94;
}

input[type="radio"], [type="checkbox"]{
	display: inline-block;
	margin: .5em;
}

select{
	background-color: white;
	font-size: 1em;
	color: #676278;
}

::placeholder{
	text-indent: 0.889em;
	/*font-size: 14px;*/
	font-size: 0.778em;
	color: #858096;
}

textarea{
	padding: 0.667em;
	width: 100%;
	height: 15em;
	border: 1px solid #d6dce0;
	font-size: 1.125em;
	color: #817b94;
	resize: none;
}

button{
	margin-top: 3em;
	margin-bottom: 3em;
	width: 100%;
	height: 3em;
	border-radius: 1.5em;
	border: none;
	background-color: #73be6f;
	color: white;
	font-size: 1em;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.5s;
}

button:hover {
	background: #504d97;
}
